@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Mono", monospace, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --base-blue: 212deg 100%;
  --base-red: 360deg 100%;
  --color-blue-50: var(--base-blue) 50%;
  --color-blue-70: var(--base-blue) 70%;
  --color-red-60: var(--base-red) 60%;
  --color-gray-400: 217deg 35% 45%;
  --color-black: 217deg 20% 20%;
  --color-white: 0deg 0% 100%;
  --color-gray-900: 227deg 100% 98%;

  --primary: hsl(var(--color-blue-50));
  --primary-hover: hsl(var(--color-blue-70));
  --error: hsl(var(--color-red-60));
}

:root.light {
  --primary-text: hsl(var(--color-black));
  --secondary-text: hsl(var(--color-gray-400));
  --secondary-text-transparent: hsl(var(--color-gray-400) / 0.75);
  --main-background: hsl(var(--color-gray-900));
  --content-background: hsl(var(--color-white));
}

:root.dark {
  --primary-text: hsl(var(--color-white));
  --secondary-text: hsl(var(--color-white));
  --secondary-text-transparent: hsl(var(--color-white) / 0.5);
  --main-background: hsl(220deg 40% 13%);
  --content-background: hsl(222deg 41% 20%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  isolation: isolate;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--main-background);
}
